main {
	width: 320px;
	height: 600px;
	margin: 0 auto;
	border: 5px solid black;
	background-color: #212121;
	font-family: 'Times New Roman';
	color: white;
}

#logo {
	font-size: 2.5em;
}

#nav-menu {
	font-size: 1em;

}

.article-home {
	padding: 10px;
	font-size: 0.75em;
	border-bottom: 1px solid #5E5E5E;

}

