/* Font-Face Rule 
@font-face { 
	font-family: 'Muli Light';
	src: url('fonts/muli-light.eot');
	src: url('fonts/muli-light.eot?#iefix') format('embedded-opentype'),
	     url('fonts/muli-light.woff') format('woff'),
	     url('fonts/muli-light.ttf') format('truetype'),
	     url('fontsmuli-light.svg#webfont') format('svg');
}
*/



/* Styles */


body {
	font-family: 'Helvetica', 'Verdana', sans-serif;
	font-size: 16px;
}

.wrapper {
	width: 800px;
	height: 550px;
	padding: 20px 40px;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	margin: 20px auto;
}

.codewrapper {
	width: 320px;
	height: 460px;
	padding: 20px;
	border: 5px solid black;
	margin: 20px 20px 20px 10px;
	float: left;
	position: relative;

}

.nav {
	width: 100px;
	height: 20px;
	margin: 20px 0 20px 20px;
	background: black;
}

.header {
	width: 200px;
	height: 40px;
	margin: 20px 0 20px 20px;
	background: black;

}

.main {
	width: 280px;
	height: 176px;
	margin: 40px 20px 20px 20px;
	background: black;
}


.footer {

}

.notesarticle {
	width: 320px;
	height: 460px;
	padding: 20px;
	margin: 20px 20px 20px 10px;
	float: right;
	position: relative;
}

.articletitle {
	width: 200px;
	padding: 5px 0 5px 5px;
	font-size: 2em;
	font-weight: 900;
	background: black;
	color: white;
}

.articledate {
	width: 75px;
	position: absolute;
	top: 20px;
	right: 30px;
	font-size:1.3em;
	line-height: 1.2em;
}

.articlebody {
	margin-top: 20px;
	line-height: 1.5em;
	font-style: italic;
}