/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Font-Face Rule 
@font-face { 
	font-family: 'Muli Light';
	src: url('fonts/muli-light.eot');
	src: url('fonts/muli-light.eot?#iefix') format('embedded-opentype'),
	     url('fonts/muli-light.woff') format('woff'),
	     url('fonts/muli-light.ttf') format('truetype'),
	     url('fontsmuli-light.svg#webfont') format('svg');
}
*/



/* General style */


body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
}

.wrapper {
	width: 832px;
	height: 1100px;
	padding: 20px 40px;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	margin: 20px auto;
}

/* Code Section */

.codeContainer {
	width: 320px;
	height: 460px;
	padding: 8px;
	border: 3px solid black;
	margin: 20px 30px 20px 10px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainContainer {
	width: 288px;
	height: 384px;
	margin: 24px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}

.svg {
	padding: 8px;
}

.textbox {
	font-weight: 900;
	font-size: 1.75em;
	letter-spacing: 1px;
	position: absolute;
	top: 70;
	left: 70;
	color: black;
}


/* Notes section */


.notesarticle {
	width: 362px;
	height: 800px;
	padding: 0 16px 16px 16px;
	margin: 20px 0;
	float: right;
	position: relative;
}

.articletitle {
	width: 184px;
	padding: 5px 0 5px 5px;
	border-radius: 5%;
	font-size: 2em;
	font-weight: 900;
	background: black;
	color: white;
	float: left;
	margin-bottom: 20px;
}

.articledate {
	height: 54px;
	padding: 8px;
	border: 2px solid black;
	border-radius: 5%;
	font-size:1.3em;
	font-weight: 900;
	line-height: 1.2em;
	float: right;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	
}

.articlebody {
	padding: 16px 0;
	margin-bottom: 10px;
	line-height: 1.7em;
	clear: both;
}

p.articlebody + p.articlebody {

	border-top: 5px solid black;
}